main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    outline: 0;
}

#btnNewGame {
    margin-bottom: 12px;
}

app-square {
    border: 1px gray solid;
    height: 200px;
}

app-square > button {
    height: 100%;
    width: 100%;
}